@import "./variables";

.color-picker {

  &-wrapper {
    position: relative;
  }

  &-modal {
    width: 210px;
    height: auto;
  }

  &-modal-header {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: $editor-box-shadow;
  }

  &-modal-style-label {
    display: inline-block;
    padding: 10px;
    width: 50%;
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $editor-hover-color;
    }

    &:active {
      background-color: $editor-active-color;
    }
  }

  &-modal-style-label-active {
    border-bottom: 2px solid #666;
  }

  &-modal-options {
    display: block;
    overflow: hidden;
  }

  &-option {
    float: left;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 2px black inset;
    }

    &:active {
      box-shadow: 0 0 2px black inset;
    }
  }

  &-option-active {
    box-shadow: 0 0 2px black inset;
  }
}
