$prefix-cls: colorpicker;

.#{$prefix-cls} {
  &-wrapper {
    position: relative;
  }

  &-modal {
  }

  &-modal-header {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  &-modal-style-label {
    display: inline-block;
    padding: 0 10px 5px;
    width: 50%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
  }

  &-modal-style-label-active {
    border-bottom: 2px solid #666;
  }

  &-modal-options {
    margin: 5px auto;
    width: 100%;
  }

  &-cube {
    width: 22px;
    height: 22px;
  }

  &-option {
    margin: 3px;
    padding: 0;
    min-height: 20px;
    width: 22px;
    height: 22px;
    border: 0;
    box-shadow: 1px 2px 1px #BFBDBD inset;

    &:hover {
      box-shadow: 1px 2px 1px #BFBDBD;
    }

    &:active {
      box-shadow: -1px -2px 1px #BFBDBD;
    }
  }

  &-active {
    box-shadow: 0 0 2px 2px #BFBDBD;
  }
}
