@import "./variables";

.link-decorator {

  &-wrapper {
    position: relative;
  }

  &-link {
    color: blue;
    text-decoration: underline;
  }

  &-icon {
    position: absolute;
    left: 40%;
    top: 0;
    cursor: pointer;
    background-color: white;
  }
}

.image-decorator {
  position: relative;
  display: block;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &-wrapper {
    display: inline-block;
  }

  &-image {
    display: block;
    border: 2px solid transparent;
  }

  &-image-focus {
    display: block;
    opacity: 0.9;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }

  &-options-popup {
    position: absolute;
    top: 100%;
    left: 0;
    display: table;
    background: white;
    box-shadow: $editor-box-shadow;
    cursor: pointer;
    white-space: nowrap;
    z-index: 100;
  }

  &-option {
    padding: 10px 15px;
    line-height: 1;
  }
}

.image-center {
  float: none;
}

.image-left {
  float: left;
}

.image-right {
  float: right;
}
