$prefix-cls: dropdownoption;

.#{$prefix-cls} {

  &-default {
    padding: 12px 18px;

    &:active {
      background: #d6d6d6;
    }
  }

  &-highlighted {
    background: #ebebeb;
  }

  &-active {
    background: #d6d6d6;
  }

  &-disabled {
    opacity: 0.3;
    cursor: default;
  }

}
