@import "./variables";

.dropdown-option {

  &-default {
    display: block;
    padding: 10px 15px;

    img {
      margin: 0;
    }

    &:active {
      background: $editor-active-color;
    }
  }

  &-highlighted {
    background: $editor-hover-color;
  }

  &-active {
    background: $editor-active-color;
  }

  &-disabled {
    opacity: 0.3;
    cursor: default;
  }

}
