@import "./variables";

.emoji {

  &-wrapper {
    position: relative;
  }

  &-modal {
    padding: 15px;
    width: 250px;
  }

  &-icon {
    float: left;
    margin: 2px;
    height: 24px;
    width: 24px;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

}
