$prefix-cls: emoji;

.#{$prefix-cls} {

  &-wrapper {
    position: relative;
  }

  &-modal {
  }

  &-icon {
    margin: 2.5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
