@import "./variables";

.font-family {

  &-dropdown {
    width: 120px;
  }

  &-text {
    display: inline-block;
    padding: 0 10px;
    max-width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-option-wrapper {
    width: 140px;
  }

}

