$prefix-cls: fontsize;

.#{$prefix-cls} {

  &-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  &-dropdown {
    min-width: 40px;
  }

  &-option {
    display: flex;
    justify-content: center;
  }

}
