@import "./variables";

.font-family {

  &-wrapper {
  }

  &-dropdown {
    width: 120px;
  }

  &-option {
  }

  &-placeholder {
    display: inline-block;
    max-width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-optionwrapper {
    width: 140px;
  }

}

