$prefix-cls: image;

.#{$prefix-cls} {

  &-wrapper {
    position: relative;
  }

  &-modal {
  }

  &-modal-header {
    font-size: 15px;
    margin: 10px 0;
    display: flex;
  }

  &-modal-header-option {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-modal-header-label {
    width: 80px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    margin-top: 5px;
  }

  &-modal-header-label-highlighted {
    background: #6EB8D4;
    border-bottom: 2px solid #0a66b7;
  }

  &-modal-upload-option {
    height: 75px;
    width: 100%;
    color: gray;
    cursor: pointer;
    display: flex;
    border: none;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    outline: 2px dashed gray;
    outline-offset: -10px;
    margin: 10px 0;
  }

  &-modal-upload-option-highlighted {
    outline: 2px dashed #0a66b7;
  }

  &-modal-upload-option-label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-modal-upload-option-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &-modal-url-section {
    display: flex;
  }

  &-modal-url-input {
    width: 90%;
    height: 35px;
    margin: 29px auto;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px;

    &:focus {
      outline: none;
    }
  }

  &-modal-btn-section {
    margin: 10px auto 0;
  }

  &-modal-btn {
    margin-left: 10px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize;

    &:hover {
      box-shadow: 1px 1px 0px #BFBDBD;
    }

    &:active {
      box-shadow: 1px 1px 0px #BFBDBD inset;
    }

    &:focus {
      outline: none !important;
    }

    &:disabled {
      background: #ece9e9;
    }

  }

  &-modal-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

}
