@import "./variables";

.image-alignment {
  position: relative;

  &-options-popup {
    position: absolute;;
    background: white;
    padding: 5px 2px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    width: 105px;
    cursor: pointer;
    z-index: 100;
  }

  &-option {
    height: 15px;
    width: 15px;
  }

}

.alignment-option-left {
}

.image-imagewrapper {
  position: relative;
}

.image-center {
  float: none;
}

.image-left {
  float: left;
}

.image-right {
  float: right;
}
