@import "./variables";

.image {

  &-wrapper {
    position: relative;
  }

  &-modal {
    height: auto;
  }

  &-modal-header {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: $editor-box-shadow;
  }

  &-modal-content {
    padding: 15px;
  }

  &-modal-header-option {
    display: inline-block;
    padding: 10px;
    width: 50%;
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $editor-hover-color;
    }

    &:active {
      background-color: $editor-active-color;
    }
  }

  &-modal-header-option-highlighted {
    border-bottom: 2px solid #666;
  }

  &-modal-upload-option {
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    color: gray;
    font-size: 15px;
    background-color: #f1f1f1;
    border: none;
    outline: 2px dashed gray;
    outline-offset: -10px;
    cursor: pointer;
  }

  &-modal-upload-option-highlighted {
    outline: 2px dashed #0a66b7;
  }

  &-modal-upload-option-label {
    display: block;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
  }

  &-modal-upload-option-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &-modal-url-section {
    display: flex;
  }

  &-modal-url-input {
    width: 90%;
    height: 35px;
    margin: 29px auto;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px;

    &:focus {
      outline: none;
    }
  }

  &-modal-btn-section {
    margin-top: 15px;
    width: 100%;
    text-align: right;
  }

  &-modal-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

}
