@import "./variables";

.link {

  &-wrapper {
    position: relative;
  }

  &-dropdown {
    width: 50px;
  }

  &-dropdown-option {
  }

  &-dropdownPlaceholder {
    margin-left: 8px;
  }

  &-modal {
    padding: 20px;
    width: auto;
    height: auto;
  }

  &-modal-item {
    margin-bottom: 10px;
  }

  &-modal-label {
    display: inline-block;
    margin-bottom: 5px;
    width: 60px;
    color: $editor-black-color;
    font-size: 14px;
  }

  &-modal-button-section {
    margin-top: 15px;
    width: 100%;
    text-align: right;
  }

  &-dropdown-option {
    height: 40px;
  }

}

.history-dropdown {
  width: 50px;
}
