$prefix-cls: link;

.#{$prefix-cls} {

  &-wrapper {
    position: relative;
  }

  &-dropdown {
    width: 50px;
  }

  &-dropdownOption {
  }

  &-dropdownPlaceholder {
    margin-left: 8px;
  }

  &-modal {
  }

  &-modal-label {
    font-size: 15px;
  }

  &-modal-input {
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    height: 25px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
    }

  }

  &-modal-buttonsection {
    margin: 0 auto;
  }

  &-modal-btn {
    margin-left: 10px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize;

    &:hover {
      box-shadow: 1px 1px 0px #BFBDBD;
    }

    &:active {
      box-shadow: 1px 1px 0px #BFBDBD inset;
    }

    &:focus {
      outline: none !important;
    }

    &:disabled {
      background: #ece9e9;
    }
  }

  &-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center;
  }

}

.history-dropdown {
  width: 50px;
}
