@import "./variables";

.option {

  &-wrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 34px;
    text-align: center;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: $editor-hover-color;
    }

    &:active {
      background-color: $editor-active-color;
    }

  }

  &-active {
    background-color: $editor-active-color;
  }

  &-disabled {
    opacity: 0.3;
    cursor: default;
  }
}
