.playground-root {
  margin: 50px;
  width: 100%;
}

.playground-label {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
}

.playground-editorSection {
  margin-top: 40px;
}

.playground-wrapper {
  width: 600px;
}

.playground-editor {
  height: 400px;
}

.playground-editorWrapper {
  padding: 20px;
}

.playground-toolbar {
  width: 100%;
}

.playground-content {
  box-sizing: border-box;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 600px;
  height: 300px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 0 2px #ccc;
  outline: none;
}
