$prefix-cls: inline !default;

.#{$prefix-cls} {

  &-wrapper {
    display: flex;
    margin-bottom: 6px;
  }

  &-dropdown {
    width: 50px;
  }

  &-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center;
  }

}
